@import url('//db.onlinewebfonts.com/c/cc84650569fd07dac022c55b20c66e46?family=Futura+Bk+BT');
@import url('//db.onlinewebfonts.com/c/9ab8abd11c40ee5c8d1905f9c9cb9ac8?family=Futura');

@mixin size($width,$height) {
    width: $width;
    height: $height;
}

@mixin font($font-size: 14px, $line-height: 16px, $font-weight: 400, $font-family: 'Futura Bk BT') {
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family;
    line-height: $line-height;
}

@mixin margin($margin-top:0, $margin-left:0, $margin-bottom:0, $margin-right:0) {
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-bottom: $margin-bottom;
    margin-right: $margin-right;
}

@mixin padding($padding-top:0, $padding-left:0, $padding-bottom:0, $padding-right:0) {
    padding-top: $padding-top;
    padding-left: $padding-left;
    padding-bottom: $padding-bottom;
    padding-right: $padding-right;
}

@mixin flex($justify-content,$align-items:center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin bg-img($background-image, $background-position) {
    background-image: $background-image;
    background-repeat: no-repeat;
    background-position: $background-position;
    background-size: auto;
}

@mixin button($width, $height){
    width: $width;
    height: $height;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 36px;
    color: #fff;
    cursor: pointer;
}
